body {
	background: transparent url(../images/half/bg.gif) repeat scroll top left;	
}

div.search_bar{
	background: transparent url(../images/half/bg.gif) repeat scroll top left;
}

div.result_bar{
	background: transparent url(../images/half/bg.gif) repeat scroll top left;
}