<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="An app for finding the Ebay auctions nobody is bidding on">
<meta name="author" content="Aaron Trank">
<title>Nadabid | Find the Ebay auctions nobody is bidding on</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="../../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<script src="../../js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
  body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F5F5F1;
  }

  .form-control {
    border: #000;
  }
  .btn-success {
    border-color: #000;
    background-color: #97CA00;
  }
  .form-group button:hover {
    border-color: #000;
    background-color: #97CA00;
  }

  .main-container {
    padding-top:50px;
  }

  .item-container{
    padding-top:15px;
    padding-bottom: 15px;
  }

  .item-container a{
    text-decoration: none;
    font-size: 12px;
    color: #444;
  }
  .item-container a.visited{
    text-decoration: none;
  }
  .item-container a:hover{}

  .item {
    background-color: white;
    margin: 10 10 10 10;
    height: 236px;
    border-radius: 7px;
    width: 200px;
  }

  .item p {
    margin: 5px;
  }

  .item-title {
    height:51px;
  }
  .item-img {
    margin:auto;
    min-height: 140px;
  }

  .item hr {
    margin-top: 0px;
    margin-bottom: 5px;
  }

</style>
