<!-- views/partials/header.ejs -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row">
    <div class="navbar-header col-xs-12 col-sm-7">
      <a class="navbar-brand" href="http://www.nadabid.com"><img src="../../img/nadabid.png"></a>
    </div>
    <div id="navbar" class="col-xs-12 col-sm-5">
      <form class="navbar-form navbar-right" method="get" id="search-form" action="/">
        <div style="white-space: nowrap;" class="form-group">
          <button style="float:right;" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true" ></span></button>
          <div style="overflow:hidden;">
          <input style="width:100%;" type="text" placeholder="Search..." value="<%= search %>" class="form-control" name="search" autofocus="true" id="searchbar">
          </div>
        </div>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
